# Ignore Python bytecode files
__pycache__
*.pyc

# Ignore editor-specific files
.vscode/
.idea/

# Ignore environment-specific files
*.env

# Ignore Docker-specific files
.dockerignore
.dockerignore.docker

# Ignore version control files
.git
.gitignore

# Ignore project-specific temporary files or logs
*.log
*.tmp

# Ignore system-specific or temporary directories
tmp/
temp/
